In [1]:
import os
from analyzer import Analyzer

In [2]:
os.getcwd()

'/Users/niche/Library/CloudStorage/OneDrive-VirginiaTech/_05_Teaching/APSC-5984-ADS/labs/lab_14/objects'

In [3]:
analyzer = Analyzer()

In [4]:
analyzer.__dict__

{'farm_alpha': <farm.FarmAlpha at 0x147a88340>,
 'farm_beta': <farm.FarmBeta at 0x147a882e0>,
 'data': Empty DataFrame
 Columns: []
 Index: []}

### Data loading

In [5]:
analyzer.load_data(folder_path=os.path.join("..", "data_farm"))

In [6]:
analyzer.farm_alpha.data

,ID,breed,farm_id,day,weight,temperature,humidity,production,health
0,1,Holstein,farm_alpha,0,1226.549,20.9,59.4,22884.105,unproductive
1,1,Holstein,farm_alpha,0,1240.715,20.9,59.4,22092.718,unproductive
2,1,Holstein,farm_alpha,1,1281.532,22.8,61.1,22408.565,unproductive
3,1,Holstein,farm_alpha,1,1370.887,22.8,61.1,21686.424,unproductive
4,1,Holstein,farm_alpha,2,1370.809,21.3,79.2,23247.622,unproductive
...,...,...,...,...,...,...,...,...,...
4195,50,Holstein,farm_alpha,39,5015.464,22.9,49.8,26967.032,productive
4196,50,Holstein,farm_alpha,40,5035.587,20.2,69.9,27887.668,productive
4197,50,Holstein,farm_alpha,40,5075.866,20.2,69.9,27075.766,productive
4198,50,Holstein,farm_alpha,41,5080.844,23.0,40.6,26284.791,productive
4199,50,Holstein,farm_alpha,41,5113.080,23.0,40.6,26064.503,productive

In [7]:
analyzer.farm_beta.data

,cow_id,BD,name,d,weight,temp,humidity,pA,pB,health
0,1,Holstein,farm_beta,0,1172.656,19.0,59.0,22331.308,21232.593,good
1,1,Holstein,farm_beta,1,1150.440,24.5,64.7,22076.244,22581.067,good
2,1,Holstein,farm_beta,2,1140.685,15.3,58.1,21232.220,21222.451,good
3,1,Holstein,farm_beta,3,1145.814,17.5,74.6,22500.715,21887.995,good
4,1,Holstein,farm_beta,4,1117.976,16.0,60.6,20767.432,22020.917,good
...,...,...,...,...,...,...,...,...,...,...
2095,50,Guernsey,farm_beta,37,800.487,18.8,49.2,9532.680,10660.293,good
2096,50,Guernsey,farm_beta,38,790.448,16.0,67.2,11302.861,10880.943,good
2097,50,Guernsey,farm_beta,39,796.741,17.5,66.3,10792.408,9987.948,good
2098,50,Guernsey,farm_beta,40,806.177,22.0,60.1,10284.359,11379.234,good
2099,50,Guernsey,farm_beta,41,789.285,22.2,67.8,11272.601,11554.300,good

### Preprocessing

In [8]:
analyzer.preprocess()

      cow_id        BD       name   d    weight  temp  humidity         pA  \
0          1  Holstein  farm_beta   0  1172.656  19.0      59.0  22331.308
1          1  Holstein  farm_beta   1  1150.440  24.5      64.7  22076.244
2          1  Holstein  farm_beta   2  1140.685  15.3      58.1  21232.220
3          1  Holstein  farm_beta   3  1145.814  17.5      74.6  22500.715
4          1  Holstein  farm_beta   4  1117.976  16.0      60.6  20767.432
...      ...       ...        ...  ..       ...   ...       ...        ...
2095      50  Guernsey  farm_beta  37   800.487  18.8      49.2   9532.680
2096      50  Guernsey  farm_beta  38   790.448  16.0      67.2  11302.861
2097      50  Guernsey  farm_beta  39   796.741  17.5      66.3  10792.408
2098      50  Guernsey  farm_beta  40   806.177  22.0      60.1  10284.359
2099      50  Guernsey  farm_beta  41   789.285  22.2      67.8  11272.601

             pB health
0     21232.593   good
1     22581.067   good
2     21222.451   good
3     21887.995   good
4     22020.917   good
...         ...    ...
2095  10660.293   good
2096  10880.943   good
2097   9987.948   good
2098  11379.234   good
2099  11554.300   good

[2100 rows x 10 columns]

## Concatenate two dataframes

In [9]:
analyzer.merge()

## Inspect the merged dataframe

In [10]:
analyzer.data

,ID,breed,farm_id,day,temperature,humidity,weight,production,health
0,1,Holstein,farm_alpha,0,20.9,59.4,1233.6320,22488.4115,0
1,1,Holstein,farm_alpha,1,22.8,61.1,1326.2095,22047.4945,0
2,1,Holstein,farm_alpha,2,21.3,79.2,1409.9670,23334.9315,0
3,1,Holstein,farm_alpha,3,18.9,47.1,1567.8900,21585.5040,0
4,1,Holstein,farm_alpha,4,21.9,74.6,1679.9105,24130.8720,1
...,...,...,...,...,...,...,...,...,...
2095,50,Guernsey,farm_beta,37,18.8,49.2,800.4870,10096.4865,1
2096,50,Guernsey,farm_beta,38,16.0,67.2,790.4480,11091.9020,1
2097,50,Guernsey,farm_beta,39,17.5,66.3,796.7410,10390.1780,1
2098,50,Guernsey,farm_beta,40,22.0,60.1,806.1770,10831.7965,1
2099,50,Guernsey,farm_beta,41,22.2,67.8,789.2850,11413.4505,1

In [12]:
analyzer.data.query("ID == 1 and farm_id == 'farm_alpha'")

,ID,breed,farm_id,day,temperature,humidity,weight,production,health
0,1,Holstein,farm_alpha,0,20.9,59.4,1233.6320,22488.4115,0
1,1,Holstein,farm_alpha,1,22.8,61.1,1326.2095,22047.4945,0
2,1,Holstein,farm_alpha,2,21.3,79.2,1409.9670,23334.9315,0
3,1,Holstein,farm_alpha,3,18.9,47.1,1567.8900,21585.5040,0
4,1,Holstein,farm_alpha,4,21.9,74.6,1679.9105,24130.8720,1
5,1,Holstein,farm_alpha,5,15.3,34.6,1738.2080,21137.2675,0
6,1,Holstein,farm_alpha,6,21.2,37.5,1872.9215,22347.4325,0
7,1,Holstein,farm_alpha,7,21.2,42.9,1978.2910,22419.5840,0
8,1,Holstein,farm_alpha,8,19.4,60.0,2075.6890,22931.7010,0
9,1,Holstein,farm_alpha,9,20.6,42.4,2176.4215,22302.4255,0
10,1,Holstein,farm_alpha,10,20.1,60.0,2194.1695,22772.9245,0
11,1,Holstein,farm_alpha,11,24.6,59.9,2234.4480,24185.4485,0
12,1,Holstein,farm_alpha,12,19.4,32.6,2315.5830,21921.0235,0
13,1,Holstein,farm_alpha,13,19.7,56.6,2393.4575,23360.7610,0
14,1,Holstein,farm_alpha,14,19.1,44.6,2508.4325,23574.4195,0
15,1,Holstein,farm_alpha,15,18.8,42.7,2649.2955,23220.0815,0
16,1,Holstein,farm_alpha,16,24.4,46.1,2710.0995,23941.3560,0
17,1,Holstein,farm_alpha,17,21.3,36.8,2823.5860,23055.5495,0
18,1,Holstein,farm_alpha,18,24.7,54.1,2924.1960,24964.9895,1
19,1,Holstein,farm_alpha,19,20.4,40.1,2985.6885,24267.3850,1
20,1,Holstein,farm_alpha,20,24.2,32.3,3075.6745,23496.6710,0
21,1,Holstein,farm_alpha,21,18.1,39.3,3216.6760,23762.7495,0
22,1,Holstein,farm_alpha,22,15.8,53.8,3342.6630,23174.4305,0
23,1,Holstein,farm_alpha,23,21.5,79.8,3448.0825,25596.5090,1
24,1,Holstein,farm_alpha,24,24.8,44.1,3577.5215,25185.1405,1
25,1,Holstein,farm_alpha,25,22.6,31.9,3657.9365,23982.1800,0
26,1,Holstein,farm_alpha,26,24.0,52.3,3751.6230,24984.6180,1
27,1,Holstein,farm_alpha,27,21.4,46.4,3851.9090,24992.3565,1
28,1,Holstein,farm_alpha,28,23.8,58.5,3959.5775,25871.0310,1
29,1,Holstein,farm_alpha,29,15.8,44.3,4075.3205,24583.2920,1
30,1,Holstein,farm_alpha,30,23.1,62.8,4122.6140,26448.9275,1
31,1,Holstein,farm_alpha,31,21.8,57.8,4295.9420,26332.4115,1
32,1,Holstein,farm_alpha,32,23.7,64.3,4415.5160,25923.1515,1
33,1,Holstein,farm_alpha,33,15.5,43.5,4483.2020,25208.8545,1
34,1,Holstein,farm_alpha,34,24.8,32.8,4600.8445,26380.2735,1
35,1,Holstein,farm_alpha,35,21.4,72.7,4689.2100,27315.8375,1
36,1,Holstein,farm_alpha,36,15.8,30.7,4756.1675,24366.6505,1
37,1,Holstein,farm_alpha,37,22.3,55.7,4837.3310,26484.7925,1
38,1,Holstein,farm_alpha,38,15.9,75.1,4949.5310,27859.9890,1
39,1,Holstein,farm_alpha,39,16.5,40.7,5051.9505,25222.3035,1
40,1,Holstein,farm_alpha,40,21.1,70.6,5101.7060,27522.5020,1
41,1,Holstein,farm_alpha,41,18.6,77.9,5228.5115,28293.4210,1